! Command: show running-config
! device: rtr2 (vEOS, EOS-4.22.0F)
!
! boot system flash:EOS.swi
!
agent KernelFib environment KERNELFIB_PROGRAM_ALL_ECMP='true'
!
switchport default mode routed
!
transceiver qsfp default-mode 4x10G
!
hostname rtr2
!
spanning-tree mode mstp
!
aaa authentication policy on-success log
aaa authentication policy on-failure log
!
no aaa root
no username admin
!
username ec2-user nopassword
username ec2-user sshkey ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCVkT37xPjjFRg+XgIN+XoaKi8DX0wqOtNPqCr1k4pOuAfP9rfX7pkWChlRri/flXfMK68Yxx30zokiXTBXpSNAqnINldUZSlUVHtzI/oi+Br2eII0WZhWDCx0P1EOLpp88fmbhtMj+m0W35t0LmnWQpaApCEpqtolAeSL3uqHGQ1tHjnh9kT+VPWwddtx8z9UG2OHy2pL8FlUCCX61hbc5i66v1BvtnvNAu5jMDHAk+8RNOulY4cM1wGh9efwEUYrZyTDI2WokFtJxObHDiAyn80K9f/GxHGAKoizcCUpZETLmLMWorXd4WDasAOoRjFJShqypfRNWnwhcuL8IRwq9 ansible-development-key
!
interface Ethernet1
   no switchport
   ip address dhcp
   dhcp client accept default-route
!
interface Loopback0
   ip address 192.168.2.102/24
!
interface Loopback1
   ip address 10.2.2.102/24
!
interface Loopback2
   ip address 2.2.2.2/32
!
interface Tunnel0
   mtu 1476
   ip address 10.101.101.2/24
   tcp mss ceiling ipv4 1360
   tunnel source interface Ethernet1
   tunnel destination 18.221.224.68
!
interface Tunnel1
   ip address 10.200.200.2/24
   tunnel source interface Ethernet1
   tunnel destination 13.58.202.139
!
ip routing
!
router bgp 65001
   router-id 2.2.2.2
   neighbor 10.200.200.1 remote-as 65000
   neighbor 10.200.200.1 ebgp-multihop
   neighbor 10.200.200.1 maximum-routes 12000 
   !
   address-family ipv4
      neighbor 10.200.200.1 activate
      network 10.2.2.0/24
      network 10.4.4.104/32
      network 10.101.101.0/24
      network 10.200.200.0/24
      network 172.17.0.0/16
      network 192.168.2.0/24
!
router ospf 1
   redistribute bgp
   network 10.2.2.0/24 area 0.0.0.0
   network 10.101.101.0/24 area 0.0.0.0
   network 172.17.0.0/16 area 0.0.0.0
   network 192.168.2.0/24 area 0.0.0.0
   max-lsa 12000
!
end