! Command: show running-config
! device: rtr4 (vEOS, EOS-4.22.0F)
!
! boot system flash:EOS.swi
!
agent KernelFib environment KERNELFIB_PROGRAM_ALL_ECMP='true'
!
switchport default mode routed
!
transceiver qsfp default-mode 4x10G
!
hostname rtr4
!
spanning-tree mode mstp
!
aaa authentication policy on-success log
aaa authentication policy on-failure log
!
no aaa root
no username admin
!
username ec2-user nopassword
username ec2-user sshkey ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCVkT37xPjjFRg+XgIN+XoaKi8DX0wqOtNPqCr1k4pOuAfP9rfX7pkWChlRri/flXfMK68Yxx30zokiXTBXpSNAqnINldUZSlUVHtzI/oi+Br2eII0WZhWDCx0P1EOLpp88fmbhtMj+m0W35t0LmnWQpaApCEpqtolAeSL3uqHGQ1tHjnh9kT+VPWwddtx8z9UG2OHy2pL8FlUCCX61hbc5i66v1BvtnvNAu5jMDHAk+8RNOulY4cM1wGh9efwEUYrZyTDI2WokFtJxObHDiAyn80K9f/GxHGAKoizcCUpZETLmLMWorXd4WDasAOoRjFJShqypfRNWnwhcuL8IRwq9 ansible-development-key
!
interface Ethernet1
   no switchport
   ip address dhcp
   dhcp client accept default-route
!
ip routing
!
end